<html>
<body>
<% if @gossip != nil %> <!-- si le @gossip de gossip/new a été créer -->
    <div class="alert alert-success" role="alert">
        <p>Votre Gossip a bien été enregistré</p>
    </div>
 <% end %>
    <h1>Bonjour bienvenue chez les Gossips</h1>
      <a class="btn btn-secondary" <%= link_to "Soumettre un Gossip", new_gossip_path%></a>
    <h3>Voici nos plus vilains gossips</h3>
    <div class="card-deck">
        <% Gossip.all.each do |gossip| %> <!-- -->
        <div class="col-sm-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Gossip n°<%= gossip.id %></h5>
                    <p class="card-text"><%= gossip.title %></p>
                    <p class="card-text"><%= User.all.find(gossip.user_id).first_name %> <%= User.all.find(gossip.user_id).last_name %></p>
                    <p class="card-text"><%= link_to "Voir ce Gossip", gossip_path(gossip.id) %></p>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</body>
</html>