<h1><%= @user.find(params[:user_id]).first_name%> <%= @user.find(params[:user_id]).last_name%> </h1>

<p> Utilisateur n°<%=@user.find(params[:user_id]).id%><br/>
    Age : <%=@user.find(params[:user_id]).age%><br/>
    Description : <%=@user.find(params[:user_id]).description%><br/>
</p>

<div>
    <h2>Ses Gossips : </h2>
    <% @gossip.where(user_id: params[:user_id]).each do |gossip| %>
    <p>
          Gossip n°<%= gossip.id %><br/>
          <%= gossip.title %><br/>
          <%= link_to "Voir ce Gossip", gossip_id_path(gossip.id) %>
      <%end%>
    </p>
  
</div>

